Source: ros-rolling-mqtt-client
Section: misc
Priority: optional
Maintainer: Lennart Reiher <lennart.reiher@rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, libpaho-mqtt-dev, libpaho-mqttpp-dev, ros-rolling-ament-cmake, ros-rolling-mqtt-client-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rcpputils, ros-rolling-ros-environment, ros-rolling-std-msgs, ros-rolling-ros-workspace
Homepage: http://wiki.ros.org/mqtt_client
Standards-Version: 3.9.2

Package: ros-rolling-mqtt-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, libpaho-mqtt-dev, libpaho-mqttpp-dev, ros-rolling-mqtt-client-interfaces, ros-rolling-rclcpp, ros-rolling-rclcpp-components, ros-rolling-rcpputils, ros-rolling-ros-environment, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: Node that enables connected ROS-based devices or robots to exchange ROS messages via an MQTT broker using the MQTT protocol.
